<!-- BEGIN HEADER -->   
   <div class="header navbar navbar-inverse navbar-fixed-top">
      <!-- BEGIN TOP NAVIGATION BAR -->
      <div class="header-inner">
         <!-- BEGIN LOGO -->  
         <a class="navbar-brand" href="{{ path('beinterface_homepage') }}">
        {% if alternativelogo is defined %}
            <img src="{{ alternativelogo }}" alt="Logo" class="img-responsive" >
        {% else %}
           <img src="{{ asset('bundles/beinterface/img/logo.png') }}" alt="logo greetik" class="img-responsive" />
        {% endif %}             
         
         </a>
         <!-- END LOGO -->
         <!-- BEGIN RESPONSIVE MENU TOGGLER --> 
         <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <img src="{{ asset('bundles/beinterface/img/menu-toggler.png') }}" alt="" />
         </a> 
         <!-- END RESPONSIVE MENU TOGGLER -->
         <!-- BEGIN TOP NAVIGATION MENU -->
         <ul class="nav navbar-nav pull-right">
            <!-- <li><a href="#">{# app.security.getToken().getUser().getUsername() #} <i class="icon-user"></i></a></li> 
            <li><a href="{# path('beinterface_logout') #}">Salir <i class="icon-off"></i></a></li>-->
         </ul>
         <!-- END TOP NAVIGATION MENU -->
      </div>
      <!-- END TOP NAVIGATION BAR -->
   </div>
   <!-- END HEADER -->
