<!-- BEGIN SIDEBAR -->
      <div class="page-sidebar navbar-collapse collapse">
         <!-- BEGIN SIDEBAR MENU -->        
         <ul class="page-sidebar-menu">
            <li>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
               <div class="sidebar-toggler hidden-phone"></div>
               <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            </li>
            <div class="hidden-phone" style="width:60%; margin:5px auto; float:none;">
            {% if alternativelogo is defined %}
                <img src="{{ alternativelogo }}" alt="Logo"style="width:100%;">
            {% else %}
               <img src="{{ asset('bundles/beinterface/img/logo_800.png') }}" class="img-responsive" alt="Logo" style="width:100%;" /> 
            {% endif %}
            </div>
            <li>
            	&nbsp;
            </li>

            <li class="start{% if app.request.attributes.get('_route')=='beinterface_homepage' %} active{% endif %}">
               <a href="{{ path('beinterface_homepage') }}">
               <i class="icon-home"></i> 
               <span class="title">Inicio</span>
               <span class="selected"></span>
               </a>
            </li>

            
            
         </ul>
         <!-- END SIDEBAR MENU -->
      </div>
      <!-- END SIDEBAR -->
      <!-- BEGIN PAGE -->