{% if interface_bundle is defined %}
    {% include [interface_bundle~':_Default:footer.html.twig', 'BEInterfaceBundle:_Default:_footer.html.twig'] %}
{% else %}
    {% include 'BEInterfaceBundle:_Default:_footer.html.twig' %}
{% endif %}