{% if interface_bundle is defined %}
    {% include [interface_bundle~':_Default:header.html.twig', 'BEInterfaceBundle:_Default:_header.html.twig'] %}
{% else %}
    {% include 'BEInterfaceBundle:_Default:_header.html.twig' %}
{% endif %}