{% if interface_bundle is defined %}
    {% include [interface_bundle~':_Default:mainmenu.html.twig', 'BEInterfaceBundle:_Default:_mainmenu.html.twig'] %}
{% else %}
    {% include 'BEInterfaceBundle:_Default:_mainmenu.html.twig' %}
{% endif %}
