{# 
    Pacolmg
    Greetik Soluciones SL
    Empty modalform
#}

<div class="modal-dialog">
    <div class="modal-content">                             
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">{% block modaltitle %}{% endblock %}</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                          {% block modalbody %}{% endblock %}
            </div>

          <div id="ajaxloader{% block idajaxloaderloader %}{% endblock %}" style="display:none; text-align:center; margin:20px auto;"><img src="{{ asset('bundles/beinterface/img/ajax-modal-loading.gif') }}" /></div>
            <div class="modal-footer" id="buttons_modal{% block idajaxloaderbuttons %}{% endblock %}">
                {% block modalbuttons %}{% endblock %}
                <button type="button" class="btn default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->
 </div><!-- /.modal-dialog -->

{% block modalscripts %}{% endblock %}