{# 
    Pacolmg
    Greetik Soluciones SL
    Bootstrap Date plugin
#}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/css/datepicker.css') }}">
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datepicker/js/locales/bootstrap-datepicker.es.js') }}"></script>

<script>
      jQuery(document).ready(function() {    
            $('{{ fieldstodate }}').datepicker({
                rtl: App.isRTL(),
                autoclose: true,
                language: 'es',
                weekStart: 1,
                 format: 'dd/mm/yyyy'
            });
            
            //set default value 
            $('{{ fieldstodate }}').each(function(){
                if (!$(this).val()) $(this).datepicker('update', new Date());
            });
            
            $('body').removeClass("modal-open"); // fix bug when inline picker is used in modal
    });
</script>

{# 
    Pacolmg
    Greetik Soluciones SL
    Jquery ui Date plugin
#}

{# #}