{# 
    Pacolmg
    Greetik Soluciones SL
    Datetime plugin
#}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-datetimepicker/css/datetimepicker.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js') }}" ></script>
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js') }}" ></script>

<script>
      jQuery(document).ready(function() {    
        $('{{ fieldstodatetime }}').datetimepicker({
            startDate: '2015-01-01',
            default: '2015-02-01',
            todayBtn: true,
            todayHighlight: true,
            isRTL: App.isRTL(),
            format: "dd/mm/yyyy - hh:ii",
            autoclose: true,
            pickerPosition: (App.isRTL() ? "bottom-right" : "bottom-left"),
            minuteStep: 5,
            language: 'es',
            weekStart: 1
        });
    });
</script>