{# empty Twig template #}
var myMap = new PositionMapLib({
defaultZoom: 14,
publicmap: false,
urlgetmarkers: "{{ configMarker.getpath }}",
urlmovemarker: "{{ configMarker.savepath }}",
environment: 'dev',
canvas_map: "{% if configMaps.mapcanvas is defined %}{{ configMaps.mapcanvas }}{% else %}map_canvas{% endif %}"
});
myMap.getMarker();
