{# 
    Pacolmg
    Greetik Soluciones SL
    Script to render the portfolio images effect
#}


   <!-- BEGIN PAGE LEVEL PLUGINS -->
   <link href="{{ asset('bundles/beinterface/css/pages/portfolio.css') }}" rel="stylesheet" type="text/css"/>
   
   {% if idportfolio is defined and idportfolio!='' %}
   <script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/jquery-mixitup/jquery.mixitup.min.js') }}"></script>
   <!-- END PAGE LEVEL PLUGINS -->
   <script>
      jQuery(document).ready(function() {    
            $('#{{ idportfolio }}').mixitup();
      });
   </script>
   
   {% endif %}
   <!-- END JAVASCRIPTS -->