{# 
    Pacolmg
    Greetik Soluciones SL
    Select2 plugin for an id
#}

<link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/select2/select2_metro.css') }}" />
<script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/select2/select2.min.js') }}" ></script>

<script>
      jQuery(document).ready(function() {    
        $('{{ fieldstoselect }}').select2({});
    });
</script>