{# 
    Pacolmg
    Greetik Soluciones SL
    Load Script for the wysiwyg editor
#}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/beinterface/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css') }}" />
    <script src="{{ asset('bundles/beinterface/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/beinterface/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js') }}" type="text/javascript"></script>
    <script>
            jQuery(document).ready(function() {   
                    if ($('#{{ idfield }}').size() > 0) {
                        $('#{{ idfield }}').wysihtml5({
                            "stylesheets": ["{{ asset('bundles/beinterface/plugins/bootstrap-wysihtml5/wysiwyg-color.css') }}" ]
                        });
                    }
            });
    </script>
