{# 
    Pacolmg
    Greetik Soluciones SL
    Load Script for the wysiwyg editor
#}

    <script type="text/javascript" src="{{ asset('bundles/beinterface/plugins/ckeditor/ckeditor.js') }}"></script>  
    <script>
         CKEDITOR.config.extraPlugins = 'justify';
         CKEDITOR.replace( '{{ idfield }}' );
    </script>
