{# 
    Pacolmg
    Greetik Soluciones SL
    individual field for a modal box
#}

<div>
    <p id="label_{{ configField['field'] }}">{{ configField['label'] }}:</p>
     {% if configField['classesinput'] is defined %}{% set classesinput=' '~configField['classesinput'] %}
     {% else %}{% set classesinput='' %}{% endif %}
        
      {{ form_widget(new_form[configField['field']], {'attr': {'class': 'form-control ' ~ classesinput } }) }}
    {% if configField['helptext'] is defined and configField['helptext']!='' %}<span>{{ configField['helptext'] }}</span>{% endif %}
</div>
