{# 
    Pacolmg
    Greetik Soluciones SL
    Individual Field in a form
#}

{# set the field #}
{% if configField['fieldtorender'] is not defined %}
    {% if configField['field2'] is defined %}{% set _field = new_form[configField['field']][configField['field2']] %}{% else %}{% set _field = new_form[configField['field']] %}{% endif %}
{% else %}
    {% set _field = configField['fieldtorender'] %}
{% endif %}
{# ----- #}

<div class="form-group">
  <label class="control-label col-md-3">{{ configField['label'] }}</label>
  <div class="col-md-9">
        {% if form_errors(_field) %}
            <div class="alert alert-danger">
        {{ form_errors(_field) }}
        </div>
        {% endif %}

     {% if configField['classesinput'] is defined %}{% set classesinput=' '~configField['classesinput'] %}
     {% else %}{% set classesinput='' %}{% endif %}
     
      {% if configField ['value'] is defined %} {{ form_widget(_field,  {'value': configField['value'], 'attr': {'class': 'form-control ' ~ classesinput } }) }}
          {% else %}{{ form_widget(_field, {'attr': {'class': 'form-control ' ~ classesinput } }) }}
              {% endif %}
       
       {% if configField['span'] is defined %}<span class="help-block">{{ configField['span'] }}</span>{% endif %}
     </div>
     <div class="clearfix"></div>
  </div>

