{#
    Pacolmg
    Greetik Soluciones SL
    Template for a general form
#}
<div class="row">
   <div class="col-md-12">
      <!-- BEGIN PORTLET-->   
      <div class="portlet box red">
         <div class="portlet-title">
            <div class="caption"><i class="icon-{{ configForm.icon }}"></i>{{ configForm.title }}</div>
            <div class="tools">
               <a href="javascript:;" class="collapse"></a>
            </div>
         </div>
         <div class="portlet-body form">
            <!-- BEGIN FORM-->
            <form id="{{ configForm['id'] }}"
                  action="{{ configForm['pathaction'] }}"
                  method="post" {{ form_enctype(new_form) }}  class="form-horizontal form-bordered">
            
               <div class="form-body">
                   {% block formcontent %}{% endblock %}
                </div>
                
                <div class="form-actions fluid">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green"><i class="icon-ok"></i> Guardar</button>
                            {% if configForm['pathcancel'] is defined and configForm['pathcancel']!='' %}<a href="{{ configForm['pathcancel'] }}"><button type="button" class="btn default">Cancel</button></a>{% endif %}
                         </div>
                      </div>
                   </div>
                </div>
                
            </form>
         </div>
      </div>
   </div>
</div>