{#
    Pacolmg
    Greetik Soluciones SL
    Template for a general form
#}
            <!-- BEGIN FORM-->
            <form id="{{ configForm['id'] }}"
                  action="{{ configForm['pathaction'] }}"
                  method="post" {{ form_enctype(new_form) }}  class="form-horizontal">
            
               <div class="form-body">
                   {% block formcontent %}{% endblock %}
                </div>
                
                <div class="form-actions fluid">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="col-md-offset-3 col-md-9">
                            <button type="submit" class="btn green"><i class="icon-ok"></i> Guardar</button>
                            <a href="{{ configForm['pathcancel'] }}"><button type="button" class="btn default">Cancelar</button></a>
                         </div>
                      </div>
                   </div>
                </div>
                
            </form>