/* here you can put your own css to customize and override the theme */
.header{
    
}

.header .navbar-brand{
        margin:1px 0px 0px 20px;
        padding:0px;
        padding:5px;
        background:#fcfcfc !important;
        width:auto;
        -webkit-border-radius: 10px !important;
        -moz-border-radius: 10px !important;
        border-radius: 10px !important;
        border: 1px solid #fff;
        
}

.header .navbar-brand:hover{
    background: #F3F3F3 !important;
}


.header .navbar-brand img{
    height:26px;
    margin:0px;
}

.row_selected, .row_selected th, .row_selected td{
    background: #ddd !important;
}